{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/120\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/120/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/120/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/120/events\",\"html_url\":\"https://github.com/mi-pyt-ghia/kotlaluk/issues/120\",\"id\":501366966,\"node_id\":\"MDU6SXNzdWU1MDEzNjY5NjY=\",\"number\":120,\"title\":\"Dummy\",\"user\":{\"login\":\"kotlaluk\",\"id\":46661160,\"node_id\":\"MDQ6VXNlcjQ2NjYxMTYw\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/46661160?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/kotlaluk\",\"html_url\":\"https://github.com/kotlaluk\",\"followers_url\":\"https://api.github.com/users/kotlaluk/followers\",\"following_url\":\"https://api.github.com/users/kotlaluk/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/kotlaluk/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/kotlaluk/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/kotlaluk/subscriptions\",\"organizations_url\":\"https://api.github.com/users/kotlaluk/orgs\",\"repos_url\":\"https://api.github.com/users/kotlaluk/repos\",\"events_url\":\"https://api.github.com/users/kotlaluk/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/kotlaluk/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1590618641,\"node_id\":\"MDU6TGFiZWwxNTkwNjE4NjQx\",\"url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/labels/Need%20assignment\",\"name\":\"Need assignment\",\"color\":\"ededed\",\"default\":false,\"description\":null}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2019-10-02T09:06:20Z\",\"updated_at\":\"2019-12-01T21:31:57Z\",\"closed_at\":null,\"author_association\":\"COLLABORATOR\",\"body\":\"Just dummy a issue :duck:\"},{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/119\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/119/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/119/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/119/events\",\"html_url\":\"https://g[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://api.github.com/repositories/212296552/issues?page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/90\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/kotlaluk/issues/90/labels{/name}\",\"comments_url\":\"https://api.github.com/rep[...]
[...]
