{% extends "layout.html" %}

{% block body %}
    <h1 align=center>GHIA</h1>

    <h2>User</h2>  
    <span class="label label-user">{{user}}</span>

    <h2>Active rules</h2>

    {% for login in rules %}
        <span class="label">{{login}}</span>
        <ul>
            {% for rule in rules[login] %}
                {% if rules[login][rule] %}
                <span class="rule">{{rule}} &rarr; </span>
                    {% for line in rules[login][rule] %}
                        <span class="pattern">"{{line.pattern}}"</span>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
    
    {% if fallback %}
    <h2>Fallback</h2>
    <ul>
        <spanc class="label label-fallback">{{fallback}}</span>
    </ul>
    {% endif %}
{% endblock %}}