{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/mi-pyt-ghia/kotlalu/issues"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/issues/#list-issues-for-a-repository\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["404 Not Found"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4739"], "X-RateLimit-Reset": ["1575313786"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.github.com/repos/mi-pyt-ghia/kotlalu/issues"}, "recorded_at": "2019-12-02T18:14:08"}], "recorded_with": "betamax/0.8.1"}