{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/ghia-anna/awesome/issues"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/ghia-anna/awesome/issues/1\",\"repository_url\":\"https://api.github.com/repos/ghia-anna/awesome\",\"labels_url\":\"https://api.github.com/repos/ghia-anna/awesome/issues/1/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/ghia-anna/awesome/issues/1/comments\",\"events_url\":\"https://api.github.com/repos/ghia-anna/awesome/issues/1/events\",\"html_url\":\"https://github.com/ghia-anna/awesome/issues/1\",\"id\":487773619,\"node_id\":\"MDU6SXNzdWU0ODc3NzM2MTk=\",\"number\":1,\"title\":\"Develop something awesome\",\"user\":{\"login\":\"ghia-anna\",\"id\":54744814,\"node_id\":\"MDQ6VXNlcjU0NzQ0ODE0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/54744814?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ghia-anna\",\"html_url\":\"https://github.com/ghia-anna\",\"followers_url\":\"https://api.github.com/users/ghia-anna/followers\",\"following_url\":\"https://api.github.com/users/ghia-anna/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ghia-anna/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ghia-anna/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ghia-anna/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ghia-anna/orgs\",\"repos_url\":\"https://api.github.com/users/ghia-anna/repos\",\"events_url\":\"https://api.github.com/users/ghia-anna/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ghia-anna/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1529556804,\"node_id\":\"MDU6TGFiZWwxNTI5NTU2ODA0\",\"url\":\"https://api.github.com/repos/ghia-anna/awesome/labels/good%20first%20issue\",\"name\":\"good first issue\",\"color\":\"7057ff\",\"default\":true,\"description\":\"Good for newcomers\"}],\"state\":\"open\",\"locked\":false,\"assignee\":{\"login\":\"ghia-anna\",\"id\":54744814,\"node_id\":\"MDQ6VXNlcjU0NzQ0ODE0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/54744814?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ghia-anna\",\"html_url\":\"https://github.com/ghia-anna\",\"followers_url\":\"https://api.github.com/users/ghia-anna/followers\",\"following_url\":\"https://api.github.com/users/ghia-anna/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ghia-anna/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ghia-anna/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ghia-anna/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ghia-anna/orgs\",\"repos_url\":\"https://api.github.com/users/ghia-anna/repos\",\"events_url\":\"https://api.github.com/users/ghia-anna/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ghia-anna/received_events\",\"type\":\"User\",\"site_admin\":false},\"assignees\":[{\"login\":\"ghia-anna\",\"id\":54744814,\"node_id\":\"MDQ6VXNlcjU0NzQ0ODE0\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/54744814?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ghia-anna\",\"html_url\":\"https://github.com/ghia-anna\",\"followers_url\":\"https://api.github.com/users/ghia-anna/followers\",\"following_url\":\"https://api.github.com/users/ghia-anna/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ghia-anna/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/ghia-anna/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/ghia-anna/subscriptions\",\"organizations_url\":\"https://api.github.com/users/ghia-anna/orgs\",\"repos_url\":\"https://api.github.com/users/ghia-anna/repos\",\"events_url\":\"https://api.github.com/users/ghia-anna/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/ghia-anna/received_events\",\"type\":\"User\",\"site_admin\":false}],\"milestone\":null,\"comments\":0,\"created_at\":\"2019-08-31T14:06:44Z\",\"updated_at\":\"2019-08-31T14:06:44Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"body\":\"I should develop something awesome in Python... don't know what yet \ud83d\ude22 \"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4738"], "X-RateLimit-Reset": ["1575313786"], "ETag": ["\"65bdd50d10377fb4ba3da5f21005c296\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/ghia-anna/awesome/issues"}, "recorded_at": "2019-12-02T18:14:08"}, {"request": {"body": {"encoding": "utf-8", "string": "{\"assignees\": [\"ghia-anna\", \"ghia-peter\"]}"}, "headers": {"Authorization": ["token <TOKEN>"], "Content-Type": ["application/json"]}, "method": "PATCH", "uri": "https://api.github.com/repos/ghia-anna/awesome/issues/1"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Must have admin rights to Repository.\",\"documentation_url\":\"https://developer.github.com/v3/issues/#edit-an-issue\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["403 Forbidden"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4737"], "X-RateLimit-Reset": ["1575313786"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 403, "message": "Forbidden"}, "url": "https://api.github.com/repos/ghia-anna/awesome/issues/1"}, "recorded_at": "2019-12-02T18:14:09"}], "recorded_with": "betamax/0.8.1"}